# Google-integrasjon (kopiér til secrets.private og fyll ut)
PROJECT_ID=
SMART_HOME_AGENT_NAME=SeaSensor Test
LOCAL_HOME_APP_ID=sea-local-home
AGENT_USER_ID=sea-monitor
DEVICE_ID=sea.sea
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
NOTES=
